<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        @*<li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                    <span class="menu-title">Секции</span>
                    <i class="menu-arrow"></i>
                    <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                </a>
                <div class="collapse" id="ui-basic">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Faq" asp-action="Index">Faq</a></li>
                        <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Планове</a></li>
                    </ul>
                </div>
            </li>*@
        <li class="nav-item">
            <a class="nav-link" asp-area="Admin" asp-controller="Information" asp-action="Index">
                <span class="menu-title">Инфо лог</span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>