@page "/about"
<!-- ======= About Section ======= -->
<section id="about" class="about mt-3">
    <div class="container">
        <div class="section-title">
            <h2><br>About Us</h2>
            <h5>Our goal is to monitor water quality and potential hazards in the water system.</h5>
            <br>
        </div>

        <div class="row content">
            <div class="col-lg-6">
                <p>
                    To accomplish this we have installed devices across the whole system, ensuring city-wide coverage,
                    realtime updates on water quality and overall safety in the water system.
                </p>
                <br>
                <h6>Our sensors detect: </h6>
                <ul>
                    <li><i class="ri-check-double-line"></i> pH levels</li>
                    <li><i class="ri-check-double-line"></i> Oxidation-reduction potential</li>
                    <li><i class="ri-check-double-line"></i> Water pressure</li>
                </ul>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <p>
                    Thanks to our innovative solution it is possible to: detect potential accidents much earlier,
                    be informed on water quality in various city-regions, gather big quantities of data and use it
                    for improving the further efficiency of the water system, prevent future breakdowns and
                    ensure safe management of the system.
                </p>
            </div>
        </div>

    </div>
</section>
@code {

}
