@page "/"

<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 text-center">
                <h1>Hackathon</h1>
                <h2>CS Enjoyers</h2>
            </div>
        </div>
        <div class="text-center">
            <a href="https://www.findmecarservice.com/Hackaton/" class="btn-get-started scrollto">
                Dashboard
            </a>
        </div>

        <div class="row icon-boxes d-flex justify-content-around align-items-center w-100">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <img src="img/t3.png" width="300" height="300">
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <img src="img/t2.png" width="300" height="300">
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <img src="img/t1.png" width="300" height="300">
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                <img src="img/t4.png" width="300" height="300">
            </div>

        </div>
    </div>
</section>
