<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Hackathon</h3>


                </div>
                <div class="col-lg-3 col-md-6 footer-contact">
                    <p>
                        Varna <br>
                        Bulgaria<br><br>
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 footer-contact">
                    <p>
                        <strong>Phone:</strong> +359 888 8888 88<br>
                        <strong>Email:</strong> info@example.com<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>