<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
        <NavLink href="/" class="logo">
            <img src="/img/logo.svg" alt="" class="img-fluid">
        </NavLink>
        <NavMenu />

    </div>
</header>

@code {

}
