@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <li class="ml-2">
            Hello, @context.User.Identity.Name!
        </li>
        <li>
            <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
        </li>
    </Authorized>
    <NotAuthorized>
        <li>
            <a class="nav-link scrollto active" href="/account/register">
                Register
            </a>
        </li>
        <li>

            <a class="nav-link scrollto active" href="/account/login">
                Login
            </a>
        </li>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
