<nav id="navbar" class="navbar">
    <ul>
        <li>
            <NavLink class="nav-link scrollto active" href="/">
                Home
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link scrollto active" href="/about">
                About
            </NavLink>
        </li>
        <LoginDisplay />
        <li>
            <a class="nav-link scrollto active" href="https://www.findmecarservice.com/Hackaton/">
                Dashboard
            </a>
        </li>
    </ul>
</nav>


@code {
}
