<nav id="navbar" class="navbar">
    <ul>
        <li>
            <NavLink class="nav-link scrollto active" href="/">
                Home
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link scrollto active" href="/about">
                About
            </NavLink>
        </li>
        <LoginDisplay />
        <li>
            <NavLink class="nav-link scrollto active" href="/dashboard">
                Dashboard
            </NavLink>
        </li>
    </ul>
</nav>


@code {
}
